
button {
    border: none;
    background: none;
    cursor: pointer;
}

// button:hover {
//     transition: 0.5s;
// }
.btn {
    padding: 15px 24px;
    font-size: var(--text-sm);
    font-weight: var(--medium);
    border-radius: var(--primary-border-radius);
}

.btn-wide {
    padding: 12px 34px;
}

.btn-wider {
    padding: 15px 35px;
    font-size: var(--text-sm);
    font-weight: var(--medium);
    border-radius: var(--primary-border-radius);
}

.btn-primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-label);
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
    color: var(--btn-primary-hover-label);
    border: 1px solid var(--btn-primary-hover-border);
}

.btn-secondary {
    background-color: #F7F7F7;
    color: var(--btn-secondary-label);
}

.btn-secondary:hover {
    background-color: var(--btn-secondary-hover);
    border: 1px solid var(--btn-secondary-hover-border);
}

.btn-tertiary {
    font-size: var(--text-xs);
    background-color: var(--btn-tertiary-bg);
    color: var(--btn-tertiary-label);
    border-radius: var(--primary-border-radius);
    cursor: pointer;
}

.btn-tertiary:hover {
    background-color: var(--btn-tertiary-hover);
    color: var(--btn-tertiary-hover-label);
    border: 1px solid var(--btn-tertiary-hover-border);
}

@media only screen and (max-width: 500px){
    .btn {
        padding: 10px 16px;
    }
}

